.otp-input-container {
    .ant-form-item-explain-error {
        text-align: center;
    }

    input {
        width: 42px !important;
        height: 48px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #D9D9D9;
        font-size: 16px;
        line-height: 26px;
    }

    input:focus {
        border: 1px solid #00B751;
        box-shadow: 0px 0px 0px 2px rgba(72, 170, 21, 0.20),
    }
}