.qr-modal{
    .ant-modal-content {
    height: auto !important;
    width: auto !important;
    margin: initial !important;
    top: auto !important;
    overflow: visible !important;
}
}
.ant-modal {
    max-width: initial !important;
}

.ant-modal,


.ant-modal-body {
    height: auto !important;
}
